images/
train/
data/
yolov5/
TEST/
.idea/
pyorbbecsdk/

industry_measurement/.idea
industry_measurement/Log
industry_measurement/_pycache_
industry_measurement/weights/*.pt
!industry_measurement/weights/500.pt
industry_measurement/weights/fc_weight




